<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.simple.mapper.SysUserMapper">



    <select id="selectUserAll"
            resultType="mybatis.simple.model.SysUser">
        SELECT
          id as  id,
          user_name as  userName,
          user_password as  userPassword,
          user_email as  userEmail,
          user_info as  userInfo,
          head_img as  headImg,
          create_time as  createTime
        FROM
               sys_user
        WHERE
            1=1
    </select>
    <select id="selectById" resultType="mybatis.simple.model.SysUser">

        select * from sys_user where id=#{id}
    </select>


</mapper>
