<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.simple.mapper.SysUserMapper">
    <insert id="insertUser">
        insert into sys_user(id,user_name,user_password,user_email,user_info,head_img,create_time)
                values(#{userName},#{userPassword},#{userEmail},#{userInfo},#{headImg,jdbcType=BLOB},#{createTime,jdbcType=TIMESTAMP})


    </insert>
    <insert id="insertUser2">
         insert into sys_user(user_name,user_password,user_email,user_info,head_img,create_time)
                values(#{userName},#{userPassword},#{userEmail},#{userInfo},#{headImg,jdbcType=BLOB},#{createTime,jdbcType=TIMESTAMP})

        <selectKey keyColumn="id" resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>
    <insert id="insertUser3">
         insert into sys_user(user_name,user_password,user_email,user_info,head_img,create_time)
                values
         <foreach collection="list" item="user" separator=" ,">
            (#{user.id},#{user.userName},#{user.userPassword},#{user.userEmail},#{user.userInfo},
            #{user.headImg,jdbcType=BLOB},#{user.createTime,jdbcType=TIMESTAMP})

        </foreach>

    </insert>
    <update id="updateUser">
        update sys_user
            set
          user_name =#{userName},
          user_password=#{userPassword} ,
          user_email=#{userEmail} ,
          user_info=#{userInfo} ,
          head_img=#{headImg} ,
          create_time=#{createTime}
          where id=#{id}
    </update>
    <delete id="delUserById">

        delete from sys_user where id=#{id}
    </delete>


    <select id="selectUserAll"
            resultType="mybatis.simple.model.SysUser">
        SELECT
          id ,
          user_name ,
          user_password ,
          user_email ,
          user_info ,
          head_img ,
          create_time
        FROM
               sys_user
        WHERE
            1=1
    </select>

    <select id="selectUserAllOld"
            resultType="mybatis.simple.model.SysUser">
        SELECT
          id as  id,
          user_name as  userName,
          user_password as  userPassword,
          user_email as  userEmail,
          user_info as  userInfo,
          head_img as  headImg,
          create_time as  createTime
        FROM
               sys_user
        WHERE
            1=1
    </select>
    <select id="selectById" resultType="mybatis.simple.model.SysUser">

        select * from sys_user where id=#{id}
    </select>
    <select id="selectRolesByUserid" resultType="mybatis.simple.model.SysRole">

        select
            sr.*,
            su.user_name,
            su.user_email
        from
			sys_user su
		INNER join sys_user_role sur on su.id=sur.role_id
		INNER JOIN sys_role sr on sr.id=sur.role_id
		where su.id=#{id}
    </select>
    <select id="selectByUSer" resultType="mybatis.simple.model.SysUser">
        select * from sys_user
        where 1=1
        <if test="userName != null or userName != '' ">
            and user_name like concat('%' #{userName} '%')
        </if>


    </select>

    <select id="selectByIdOrUserName" resultType="mybatis.simple.model.SysUser">
        select * from sys_user
        where 1=1
        <choose>
            <when test="id !=null or id != ''">
                AND ID=#{id}
            </when>
            <when test="userName != null or userName != '' ">
                and user_name like concat('%' #{userName} '%')
            </when>
            <otherwise>
                1=2
            </otherwise>
        </choose>
        <if test="userName != null or userName != '' ">
            and user_name like concat('%' #{userName} '%')
        </if>


    </select>
    <select id="selectByIds" resultType="mybatis.simple.model.SysUser">
        select * from sys_user where id in
        <foreach collection="ids" item="id" open="(" close=")" separator=" ,">
            #{id}
        </foreach>


    </select>
    <select id="selectUserAndRoleById" resultType="mybatis.simple.model.SysUser">
        select
          su.id as  id,
          su.user_name as  userName,
          su.user_password as  userPassword,
          su.user_email as  userEmail,
          su.user_info as  userInfo,
          su.head_img as  headImg,
          su.create_time as  createTime,
		  sr.id as "role.id",
		  sr.role_name as "role.roleName",
		  sr.enabled as "role.enabled",
		  sr.create_by as "role.createBy",
		  sr.create_time as "role.createTime"
          from sys_user su
          inner join sys_user_role  sur on su.id=sur.user_id
          inner join sys_role sr on sr.id=sur.role_id

          where su.id=#{id}

    </select>


</mapper>
