<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mybatis.simple.mapper.SysUserMapper">
    <insert id="insertUser">
        insert into sys_user(id,user_name,user_password,user_email,user_info,head_img,create_time)
                values(#{id},#{userName},#{userPassword},#{userEmail},#{userInfo},#{headImg,jdbcType=BLOB},#{createTime,jdbcType=TIMESTAMP})

    </insert>
    <insert id="insertUser2">
         insert into sys_user(user_name,user_password,user_email,user_info,head_img,create_time)
                values(#{userName},#{userPassword},#{userEmail},#{userInfo},#{headImg,jdbcType=BLOB},#{createTime,jdbcType=TIMESTAMP})

        <selectKey keyColumn="id" resultType="Long" keyProperty="id" order="AFTER">
            SELECT LAST_INSERT_ID()
        </selectKey>

    </insert>
    <update id="updateUser">
        update sys_user
            set
          user_name =#{userName},
          user_password=#{userPassword} ,
          user_email=#{userEmail} ,
          user_info=#{userInfo} ,
          head_img=#{headImg} ,
          create_time=#{createTime}
          where id=#{id}
    </update>
    <delete id="delUserById">

        delete from sys_user where id=#{id}
    </delete>


    <select id="selectUserAll"
            resultType="mybatis.simple.model.SysUser">
        SELECT
          id ,
          user_name ,
          user_password ,
          user_email ,
          user_info ,
          head_img ,
          create_time
        FROM
               sys_user
        WHERE
            1=1
    </select>

    <select id="selectUserAllOld"
            resultType="mybatis.simple.model.SysUser">
        SELECT
          id as  id,
          user_name as  userName,
          user_password as  userPassword,
          user_email as  userEmail,
          user_info as  userInfo,
          head_img as  headImg,
          create_time as  createTime
        FROM
               sys_user
        WHERE
            1=1
    </select>
    <select id="selectById" resultType="mybatis.simple.model.SysUser">

        select * from sys_user where id=#{id}
    </select>
    <select id="selectRolesByUserid" resultType="mybatis.simple.model.SysRole">

        select
            sr.*,
            su.user_name,
            su.user_email
        from
			sys_user su
		INNER join sys_user_role sur on su.id=sur.role_id
		INNER JOIN sys_role sr on sr.id=sur.role_id
		where su.id=#{id}
    </select>


</mapper>
